<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Animal Shelter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>Animal Shelter</h1>
        <p>Here is the list of animals available for adoption:</p>
        <!-- "Add New Animal" Button -->
        <div class="mb-4">
            <a href="/animals/new" class="btn btn-primary">Add New Animal</a>
        </div>

        <div>
            <form th:action="@{/animals/search}" class="form-inline my-2 my-lg-0 mb-3">
                <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search animals" aria-label="Search">

            </form>
        </div>

        <!-- Table for displaying the list of animals -->
        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Species</th>
                <th scope="col">Age</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterate through the list of animals -->
            <tr th:each="animal : ${animals}">
                <td th:text="${animal.id}"></td>
                <td th:text="${animal.name}"></td>
                <td th:text="${animal.gender}"></td>
                <td th:text="${animal.species}"></td>
                <td th:text="${animal.age}"></td>
                <td>
                    <!-- Edit button -->
                    <a th:href="@{/animals/{animalId}/edit(animalId=${animal.id})}" class="btn btn-sm btn-warning">Edit</a>
                    <!-- Delete button -->
                    <a th:href="@{/animals/{animalId}/delete(animalId=${animal.id})}"
                       class="btn btn-sm btn-danger"
                       onclick="return confirm('Are you sure you want to delete this animal?');">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>
